{% macro about() %}

  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-rust-plain"></i>
      <p>System programmer with <b>8 years</b> of experience in C++ across various industrial applications, ranging from medical to aerospace, from <b>Radar</b> data processing to controls for embedded devices.</br> Learning and experimenting with <b>Rust</b>.</p>
    </div>
    <div class="tech"> 
      <h2>3D Sculpting</h2>
      <i class="devicon-blender-original colored"></i>
      <i class="devicon"><img src={{ config.base_url ~ "/img/sketchup_logo.svg"}}></i>
      <p>Once a traditional sculptor, now 3D modelling from concept art to <b>3D-printed miniatures</b>. Striving to maintain the highest standards in the miniatures industry and running an <b>online store</b>.</br> Toying with <b>procedural generation</b> and mesh manipulation.</p>
    </div>
    <div class="tech">
      <h2>Game Design</h2>
      <i class="devicon"><img src={{ config.base_url ~ "/img/tlf_logo.svg"}}></i>
      <i class="devicon-photoshop-line"></i>
      <p>Creator of boardgames and wargames.</br>  Author of <b>Full Spectrum Dominance</b>, Round of Fire, and countless unpublished prototypes.</br> Involved in <b>every step</b> of game development, from initial drafts to graphics, all the way through to community management.</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h3><p> {{ config.extra.user_description }} </p></h3>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro projects %}

