{% macro about() %}

  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-rust-plain"></i>
      <p>System programmer with <b>8 years</b> of experience in C++ across various industrial applications, ranging from medical to aerospace, from <b>Radar</b> data processing to controls for embedded devices.</br> Learning and experimenting with <b>Rust</b>.</p>
    </div>
    <div class="tech"> 
      <h2>3D Sculpting</h2>
      <i class="devicon-blender-original colored"></i>
      <i class="devicon"><img src={{ config.base_url ~ "/img/sketchup_logo.svg"}}></i>
      <p>Once a traditional sculptor, now 3D modelling from concept art to <b>3D-printed miniatures</b>. Striving to maintain the highest standards in the miniatures industry and running an <b>online store</b>.</br> Toying with <b>procedural generation</b> and mesh manipulation.</p>
    </div>
    <div class="tech">
      <h2>Game Design</h2>
      <i class="devicon"><img src={{ config.base_url ~ "/img/tlf_logo.svg"}}></i>
      <i class="devicon-photoshop-line"></i>
      <p>Creator of boardgames and wargames.</br>  Author of <b>Full Spectrum Dominance</b>, Round of Fire, and countless unpublished prototypes.</br> Involved in <b>every step</b> of game development, from initial drafts to graphics, all the way through to community management.</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h3><p> {{ config.extra.user_description }} </p></h3>
</div>

<!-- lazy-tree -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/oaks.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Procedural Trees Generation </h3>
    <p>A Blender script to generate realistic trees with a bottom-up approach. Currently in python, the next version will be re-written in Rust with new more accurate simulation logics.</p>
    <a class="project-link" href="https://github.com/thelazyone/lazy-tree">Github Repo</a>
  </div>
</div>

<!-- bacter -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/bacter.jpg" }}" />
  </div>
  <div class="contents">
    <h3> Bacter: an Evolution Simulator </h3>
    <p>A Petri dish where simple cellular automata compete for reproduction. Not only the fittest characteristic are selected, but over time those maxima move in the parameters space!</p>
    <a class="project-link" href="https://github.com/thelazyone/Bacter/">Github Repo</a>
  </div>
</div>

<!-- fsd -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/fsd.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Full Spectrum Dominance </h3>
    <p>A small-scale miniature wargame, with a fresh and modern ruleset. The models and the terrain are all original creations, that players can purchase and print at home, making the game entirely print-and-play.</p>
    <a class="project-link" href="https://fsd-wargame.com/">Website</a>
  </div>
</div>
{% endmacro projects %}

